<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Google Maps Multiple Markers  - jsFiddle demo</title>
  
 <!-- <script type='text/javascript' src='/js/lib/mootools-core-1.4.5-nocompat.js'></script>-->
 
  



</head>
<body>
    <h1>MUNI BUNCHING FINDER</h1>
<div>
  <div id="map" style="width: 500px; height: 400px;"></div>
<script type='text/javascript'>//<![CDATA[ 
var locations = {{bus_array_str|safe}} ;

var pinColor = "FE7569";
var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
    new google.maps.Size(21, 34),
    new google.maps.Point(0,0),
    new google.maps.Point(10, 34));
var pinColor2 = "00FF00";
var pinImage2 = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor2,
    new google.maps.Size(21, 34),
    new google.maps.Point(0,0),
    new google.maps.Point(10, 34));
var colors = {"bus":pinImage,"stop":pinImage2};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      // center: new google.maps.LatLng(-33.92, 151.25),
      center: new google.maps.LatLng(37.8, -122.4),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i]['lat'], locations[i]['lon']),
        map: map,
        icon: colors[locations[i]['type']]
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i]['type'] + " <b>"+locations[i]['id']+":</b> Next Stop : <b>" + locations[i]['next']+ "</b>" + locations[i]['text']);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }


</script>
</div>

  
</body>


</html>

